.buttons {
    display: flex;
    justify-content:flex-end;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: max-content;
    height: max-content;
}

.square {
    border-color: black;
    color: rgb(255, 255, 255);
    background-color: rgb(243, 242, 242);
    margin: 10px;
    width: 50px;
    height: 50px;
    
}